.project-form-outer {
	border: 1px solid black;
	border-radius: 2px;
	padding: 15px;
	display: flex;
	flex-direction: column;
}

.project-form-inner {
	display: flex;
	padding: 5px 0;
}

textarea {
	width: 100%;
}